@inherits ComponentBase

<section style="margin-bottom: 10px d-flex p-2">
    <input type="text" class="form-control" placeholder="input keyword ex: tennis"
           @bind-value="@SearchTerm" @bind-value:event="oninput" @onchange="async () => await OnSearchChanged.InvokeAsync(SearchTerm)" />
</section>




